/* body */

body {

  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  height: 100vh;
  background-color: whitesmoke;

}

/* ipod */

#ipod{

  height: 90vh;
  width: 30vw;
  min-height: 500px;
  min-width: 300px;  
  background-color: rgb(223, 223, 223);  
  border-radius: 30px;
  border: 2px outset grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

/* screen */

#screen{

  height: 270px;
  width: 90%;
  border-radius: 20px;
  border: 2px outset grey;
  background-color: white;

}