/* body */

body {

  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  height: 100vh;
  background-image: linear-gradient(to top right, grey, whitesmoke, grey);

}

/* ipod */

#ipod{

  height: 500px;
  width: 25vw;  
  min-width: 270px;  
  background-color: rgb(223, 223, 223);  
  border-radius: 30px;
  border: 2px outset grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;

}

/* screen */

#screen{

  height: 270px;
  width: 100%;  
  border-radius: 20px;
  border: 2px outset grey;
  background-color: white;

}

/* menu */

#menu{

  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: whitesmoke;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

/* menu center button */

#menu-center-button{

  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: rgb(201, 201, 201);
  position: relative;

}

/* menu icon */

.menu-icon{

  position: absolute;
  font-size: 1.5rem;
  color: grey;

}

/* menu content */

#menu-content{

  text-transform: uppercase;
  font-size: 1.2rem;
  left: 16.735px;
  top: -38.5px;
  color: rgb(100, 100, 100);

}

/* backward icon */

#backward{

  left: -39.5px;
  top: 33px;

}

/* forward icon */

#forward{

  right: -39.5px;
  top: 33px;  

}

/* play icon */

#play{

  bottom: -38px;
  left: 22.5px;
  color: rgb(100, 100, 100);

}

/* pause icon */

#pause{

  bottom: -38px;
  right: 22.5px;
  color: rgb(100, 100, 100);

}